.idea
.phpunit.result.cache
node_modules
logs
artifact
vendor
/dist
/assets/*
!assets/images/
!assets/scss/
!assets/js
assets/js/*.js
cypress/integration/examples
cypress/videos/*
cypress/screenshots/*
cypress/integration/localhost*
cypress/fixtures
cypress.env.json

.DS_Store
Thumbs.db
*.tar.gz
*.zip
