td {
    &.column-thumbnail {
        .column-thumb-img {
            width: 80px;
            height: 80px;
            background: #c1c1c1;
        }
    }
}
.column-post_author {
	.post-author {
		display: flex;
		align-items: center;
		gap: 8px;
		img {
			border-radius: 100%;
			flex-shrink: 0;
		}
	}
}
.column-employees {
    span {
        background: #c1c1c1;
        padding: 5px 15px;
        border-radius: 150px;
        &.has-employees {
            background: #2271b1;
            color: #fff;
        }
    }
}